
@import url("whitelamp-adminer/adminer-default.css");
@import url("barcode.css");

/* Override with this */

#table a[href$="=R"] {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
}
#table a[href$="=T"] {
    font-size: 1.2em;
    font-weight: bold;
    color: darkorange;
}
#table a[href$="=F"] {
    font-size: 1.2em;
    font-weight: bold;
    color: darkgreen;
}

