
/* Fonts */
@import url("barcode-font/stylesheet.css");
/* inflow_code_39_barcoderegular */
/*
  Our thanks go to:
    inflowinventory.com
    pagecloud.com
    fontsquirrel.com
*/

.barcode-out {
    font-family: inflow_code_39_barcoderegular;
    font-size: 48pt;
    white-space: nowrap;
}
.barcode-out::before {
    content: '*';
}
.barcode-out::after {
    content: '*';
}

