<?php


// Application
define ( 'WHEREWARE_TEMPLATE_GLOB',             './template/*.hbs'      );
define ( 'WHEREWARE_TOKEN_LIFE_MINS',           10                      );
define ( 'WHEREWARE_VERIFY_TIME',               300                     );
define ( 'WHEREWARE_BIN_PRIORITY_HOME',         true        ); // Prioritise home bin (if sufficient availability)
define ( 'WHEREWARE_BIN_PRIORITY',              'MINSA'     ); // Minimum Sufficient Availability
//define ( 'WHEREWARE_BIN_PRIORITY',              'MAXA'      ); // Maximum Availability


// Database
if (array_key_exists('HTTP_HOST',$_SERVER) && $_SERVER['HTTP_HOST']=='some.host') {
    // Live
    define ( 'WHEREWARE_ADMINER_URL',           'https://some.host/stores/' );
}
else {
    // Development
    define ( 'WHEREWARE_ADMINER_URL',           '/some/adminer/'        );
}
define ( 'WHEREWARE_RESULTS_LIMIT',             1000                    );


// Comms
if (array_key_exists('HTTP_HOST',$_SERVER) && $_SERVER['HTTP_HOST']=='some.host') {
    // Live
    define ( 'WHEREWARE_EMAIL_BOOKED_CC',       'bookings@some.host'    );
}


// Stock locations
define ( 'WHEREWARE_LOCATION_IN',               'GI-1'                  );
define ( 'WHEREWARE_LOCATION_OUT',              'GO-1'                  );
define ( 'WHEREWARE_LOCATION_ASSEMBLED',        'GO-1'                  );
define ( 'WHEREWARE_LOCATION_ASSEMBLY',         'A-1'                   );
define ( 'WHEREWARE_LOCATION_COMPONENT',        'W-1'                   );
define ( 'WHEREWARE_LOCATIONS_BOOKINGS',        'X-BOOKING-'            );
define ( 'WHEREWARE_LOCATIONS_DESTINATIONS',    'D-'                    );
define ( 'WHEREWARE_RETURNS_LOCATION',          'R-1'                   );
define ( 'WHEREWARE_RETURNS_BINS',              'DF-1,DA-1,TE-1,GR-1'   );


// SKUs
define ( 'WHEREWARE_SKU_TEMP_NAMESPACE',        'NEW'                   );
define ( 'WHEREWARE_SKU_TEMP_ID_LENGTH',        11                      );

